<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_with url: evaluationsindex_path(:projectID => params[:projectID]) do |f| %>
    <h4> <b>Select a Student:</b> </h4>
    <%= f.select :student_id, @students.map { |s| [s.name, s.id] } %>
    <%= f.submit "See Evaluations" , class: "btn btn-primary"%>
    <%= link_to 'Back to Menu', current_teacher%>
<% end %>

<% if @seeEvals %>
    <h3><%= Student.find_by(id: params[:student_id].to_i).name%>'s Evaluations:</h3>
    <% @evals.each do |e| %>
    <h4><%= Student.find_by(id: e.evaluator_id).name %></h4>
    <p>Score: <%= e.score %></p>
    <p>Comments: <%= e.comments %></p>
    <% end %>
<% end %>
</div>
</div>