<% provide(:title, @teacher.name) %>
<h1>Home</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3 list-group">
        <%= button_to "Class Roster" , students_path, :class => "list-group-item", :method => :get%>
        <%= button_to "Show Teams" , showteams_path, :class => "list-group-item", :method => :get%>
        <%= button_to "Add Students",new_student_path,:class => "list-group-item", :method => :get %>
        <%= button_to "Create Teams",new_team_path,:class => "list-group-item", :method => :get %>
        <%= button_to "Add Students To Team",addstudents_path,:class => "list-group-item", :method => :get %>
        <%= button_to "Create Project",new_project_path,:class => "list-group-item", :method => :get %>
    </div>
</div>
