<% provide(:title, 'Create A Project') %>
<h1>Create A Project</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @project, local: true) do |f| %>
      <%#= render 'shared/error_messages_project' %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.select :team_id, @teams.map { |t| [t.name, t.id] }%>
      <%= f.submit "Create Project", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
