<h2>Class Roster</h2>
<table class = "table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Access Token</th>
        <th>Grade</th>
    </tr>
    </thead>
    <tbody>
<% @student.each do |stu| %>
    <% if stu.teacher_id == current_teacher.id%>
            <tr>
                <td><%= link_to stu.name, gradestudent_path(:id => stu.id), :class => "btn btn-link" %></td>
                <td><%= stu.email%></td>
                <td><%= stu.access_token %></td>
                <td><%= stu.grade %></td>
            </tr>
    <% end %>
<% end %>
    </tbody>
</table>
<br>

<%= link_to 'Back To Menu', current_teacher, class: "btn btn-default glyphicon glyphicon-menu-left"%>
