<% provide(:title, 'Create A Team') %>
<h1>Create A Team</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @team, local: true) do |f| %>
      <%= render 'shared/error_messages_team'%>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit "Create Team", class: "btn btn-primary" %>
      <br>
      <br>
      <%= link_to 'Back to Menu', current_teacher,class: "btn btn-primary"  %>
    <% end %>
  </div>
</div>
